/*
//Artists CSS section /////
*/
header nav a:nth-child(2) {
    color: red;	
    zoom:1.1;
    -moz-transform: scale(1.1); /* zoom for Firefox only */
} 

#artists  {
	padding: 10px;
	background-color: black;
	color: white;
}

#artists div img {
	    width: 300px;
	    height: 350px;
    	text-align:center;
}

#artists h2{
	text-align:center;
}

#artists p{
	padding-left: 100px;
	padding-right	: 80px;
	float: left;
	width: 180px;
	text-align: justify;
	
}


#artist1:hover {
	box-shadow: 10px 10px 10px rgba(255, 0, 0, 5);
}
#artist2:hover {
	box-shadow: 10px 10px 10px rgba(35, 173, 278, 5);
}

.artist1dialog {
}

.artist_photos  {
  	width: 460px;
	height: 500px;
	color: white;
}


.artist_photos section  {
	margin-top: 20px;
	width: 460px;
	height: 400px;
}

.artist_photos aside{
	width: 460px;
	height: 80px;
	position:static;
}

.artist_photos .photo_menu {
	width: 460px;
	height: 80px;
	position:static;

}

.artist_photos aside img {
  	width: 60px;
	height: 80px;
    display: inline-block;
    margin-left: 20px;
}

#detail {
  	width: 460px;
	height: 400px;
	border:0;
}

.dialogs {
	//background-color: black;
}
.ui-widget-content{
//	background-color: black;
//	background: transparent; /* For browsers that do not support gradients */
	border:1px;
	background :transparent;
}

.ui-dialog {
	border:0px ; 
}

.ui-dialog-titlebar{
	border:1px;
	opacity: 0.8;
	background: black;
}

.ui-widget-header{
	border: 0px solid white;
}



.body-gray {

background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    )
}