/*
//Gallery CSS section /////
*/

#gallery {
	padding-top: 10px;
	background-color:black;
	text align:center;
	text margin:20px;
	color:white;
}

#gallery div img {
	width: 250px;
	height: 350px;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 5);
}


#gallery div img:hover{
    box-shadow: 10px 10px 10px rgba(211, 211, 211, 5);;	
}


#gallery div h2 {
	text-align:center;
	text margin:20px;
}

