
/*///////////////////////////////////
// GENERAL CSS TEMPLATE Section /////
///////////////////////////////////*/

header,
section,
aside,
footer{
	display: block;
}

body {
	width:960px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
	background:black;
}

header {
	text-align:center;
	padding:5px;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;    
}

#logo {
    width: 100px;
    padding-left: 50px;
}
#logo img{
    height: 80px;
    position: absolute;
    z-index: 1;
}

header h1 {
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(255,0,0,0.8), 0px 0px 30px rgba(255,0,0,0.8), 0px 0px 50px rgba(255,0,0,0.8), 0px 0px 180px rgba(255,0,0,0.8);
    color: rgba(255,255,255,0.7);
    font: 35px 'ChunkFiveRegular';
}

header nav {
    position: relative;
}

header a {
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

header nav a:hover {
    color: white;	
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    zoom:1.1;
    -moz-transform: scale(1.1); /* zoom for Firefox only */
}

header nav a#active {
    color: red; 
    zoom:1.1;
    -moz-transform: scale(1.1); /* zoom for Firefox only */
    text-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);
} 


#sidebar {
    float: right;
	width:100px;

}

#sidebar aside{
	position: fixed;
	top: 100px;
	background:orange;
	margin-top: 30px;
    margin-bottom: 10px;
	padding-left: 5px;
    width:100px;
    background-color : transparent;
}

#sidebar aside img{
	width:50px;
	height:50px;
}

#sidebar aside img:hover{
    zoom:1.5; 
    -moz-transform: scale(1.5);  /* zoom for Firefox only */

    box-shadow: 4px 4px 4px rgba(255, 0, 0, 5);
    border-radius: 25px;
}

#sidebar aside#offer{
    top: 400px;
}

#sidebar aside#offer img {
    -webkit-animation:offerRotate 3s linear infinite;
    -moz-animation:offerRotate 3s linear infinite;
    animation:offerRotate 3s linear infinite;
}
/* Image spining animation for the different browers*/
@-moz-keyframes offerRotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes offerRotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes offerRotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



#content{
	float:left;
	width:840px;
   	margin-bottom: 10px;
}


footer {
	clear:both;
	text-align:center;

    background-color: #111;
    background-image: linear-gradient(#111, #444);
    border-radius: 6px;
    width:inherit;
    display:inline-block;

    text-decoration: none;
    text-shadow: 0 1px 0 #000;

}

footer article {
	display:inline;
	color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    width: 33.33333333333333%;

    padding-left:20px;
    padding-right:20px;
    padding-top:20px;

}

footer small {
	clear:both;
	color: white;
}
footer article#col1{
	float:left;
}

footer article#col2{
	float:right;
}

.row { 
    margin-top:35px;
    margin-bottom:15px;
    clear:left;
}

